name: OnePlus_13T_KSU
on:
  workflow_dispatch:
    inputs:
      enable_feature_change_suffix:
        description: "是否启用内核名称修改"
        required: false
        default: true
        type: boolean
      KERNEL_SUFFIX:
        description: '内核名称修改(可改中文和emoji)'
        required: true
        default: '-android15-8-g29d86c5fc9dd-abogki428889875-4k'
      enable_feature_change_build_time:
        description: "是否启用内核构建日期更改"
        required: false
        default: true
        type: boolean
      KERNEL_TIME:
        description: "内核构建日期更改(默认为原厂)"
        required: true
        default: 'Tue Jul 1 19:48:18 UTC 2025'
      enable_feature_hide_stuff:
        description: "是否启用隐藏应用补丁"
        required: false
        default: true
        type: boolean
      enable_feature_lz4k_oplus:
        description: "是否启用lz4k_oplus"
        required: false
        default: true
        type: boolean
      enable_feature_lz4kd:
        description: "是否启用lz4kd"
        required: false
        default: true
        type: boolean
      enable_feature_bbg:
        description: "是否启用内核级基带保护支持"
        required: false
        default: false
        type: boolean
      enable_feature_sched_ext:
        description: "是否添加风驰驱动"
        required: false
        default: true
        type: boolean
      
#  schedule:
#    - cron: '0 22 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CCACHE_COMPILERCHECK: "%compiler% -dumpmachine; %compiler% -dumpversion"
      CCACHE_NOHASHDIR: "true"
      CCACHE_HARDLINK: "true"
      CCACHE_DIR: /home/runner/.ccache  
      CCACHE_MAXSIZE: 8G
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 8192
          temp-reserve-mb: 2048
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'

      - uses: actions/checkout@v5

      - name: Configure Git
        run: |
         git config --global user.name ${{ github.actor }}
         git config --global user.email ${{ secrets.USER_EMAIL }}

      - name: Install dependencies
        run: sudo apt update && sudo apt install -y python3 git curl ccache zip libelf-dev

#      - name: Compare Version
#        run: |
#          git clone --depth=1 https://github.com/SukiSU-Ultra/SukiSU-Ultra.git -b susfs-main SUKI/
#          cd SUKI
#          KSU_GIT_VERSION=$(git rev-list --count HEAD)
#          KSU_VERSION=$((10000 + KSU_GIT_VERSION + 700))
#          LATEST_TAG=$(git ls-remote --tags https://github.com/MerCuJerry/oneplus_sm8750_sukisu.git | tail -n1 | sed 's/.*\///')
#          if [ $LATEST_TAG -eq $KSU_VERSION ];then exit 1;fi

      - name: Restore ccache
        uses: actions/cache@v4
        with:
          path: /home/runner/.ccache
          key: ccache-${{ runner.os }}-${{ github.ref }}
          restore-keys: |
            ccache-${{ runner.os }}-

      - name: Install repo tool
        run: |
          curl https://storage.googleapis.com/git-repo-downloads/repo > ~/repo
          chmod a+x ~/repo
          sudo mv ~/repo /usr/local/bin/repo

      - name: Initialize repo and sync
        run: |
          mkdir kernel_workspace && cd kernel_workspace
          repo init -u https://github.com/OnePlusOSS/kernel_manifest.git -b refs/heads/oneplus/sm8750 -m oneplus_13t_b.xml --depth=1
          repo --trace sync -c -j$(nproc --all) --no-tags
          rm kernel_platform/common/android/abi_gki_protected_exports_* || echo "No protected exports!"
          rm kernel_platform/msm-kernel/android/abi_gki_protected_exports_* || echo "No protected exports!"
            
      - name: Set up KSU
        run: |
          echo DATE=$(date +%F) >> $GITHUB_ENV
          cd kernel_workspace/kernel_platform
          curl -LSs "https://raw.githubusercontent.com/tiann/KernelSU/main/kernel/setup.sh" | bash -
      
      - name: Get SukiSU Patches
        uses: actions/checkout@v5
        with:
          repository: SukiSU-Ultra/SukiSU_patch
          path: SukiSU_patch

      - name: Apply scope_min_manual_hooks Patch
        working-directory: kernel_workspace/kernel_platform/common
        run: |
          patch -p1 < $GITHUB_WORKSPACE/SukiSU_patch/hooks/scope_min_manual_hooks_v1.6.patch

      - name: Get HMBird GKI patch
        if: ${{ inputs.enable_feature_sched_ext }}
        uses: actions/checkout@v5
        with:
          repository: Numbersf/SCHED_PATCH
          ref: sm8750
          path: hmbird_patch
              
      - name: Apply HMBird GKI patch
        if: ${{ inputs.enable_feature_sched_ext }}
        working-directory: kernel_workspace/kernel_platform/common
        run: |
          patch -p1 < $GITHUB_WORKSPACE/hmbird_patch/fengchi_oneplus_13t_b.patch

      - name: Apply lz4kd Patch
        if: ${{ inputs.enable_feature_lz4kd }}
        working-directory: kernel_workspace/kernel_platform/common
        run: |
          #lz4k
          cp -r $GITHUB_WORKSPACE/SukiSU_patch/other/zram/lz4k/include/linux/* ./include/linux
          cp -r $GITHUB_WORKSPACE/SukiSU_patch/other/zram/lz4k/lib/* ./lib
          cp -r $GITHUB_WORKSPACE/SukiSU_patch/other/zram/lz4k/crypto/* ./crypto
          patch -p1 -F 3 < $GITHUB_WORKSPACE/SukiSU_patch/other/zram/zram_patch/6.6/lz4kd.patch

      - name: Apply lz4k_oplus Patch
        if: ${{ inputs.enable_feature_lz4k_oplus }}
        working-directory: kernel_workspace/kernel_platform/common
        run: |
          #lz4k_oplus
          cp -r $GITHUB_WORKSPACE/SukiSU_patch/other/zram/lz4k_oplus ./lib/
          patch -p1 -F 3 < $GITHUB_WORKSPACE/SukiSU_patch/other/zram/zram_patch/6.6/lz4k_oplus.patch

      - name: Apply Hide_stuff Patch
        if: ${{ inputs.enable_feature_hide_stuff }}
        working-directory: kernel_workspace/kernel_platform/common
        run: |
          patch -p1 -F 3 < $GITHUB_WORKSPACE/SukiSU_patch/69_hide_stuff.patch
        
      - name: Apply BBG
        if: ${{ inputs.enable_feature_bbg }}
        working-directory: kernel_workspace/kernel_platform/common
        run: |
          curl -LSs https://raw.githubusercontent.com/vc-teahouse/Baseband-guard/main/setup.sh | bash
          sed -i '/^config LSM$/,/^help$/{ /^[[:space:]]*default/ { /baseband_guard/! s/lockdown/lockdown,baseband_guard/ } }' ./security/Kconfig
      
      - name: Add Kernel Configuration Settings
        working-directory: kernel_workspace/kernel_platform/common/arch/arm64/configs
        run: |
          cat $GITHUB_WORKSPACE/defconfig_append >> ./gki_defconfig
          echo "CONFIG_KSU_MANUAL_HOOK=y" >> ./gki_defconfig
          echo "CONFIG_LOCALVERSION_AUTO=n" >> ./gki_defconfig
          if [ "${{ github.event.inputs.enable_feature_lz4kd }}" = "true" ]; then
            echo "CONFIG_CRYPTO_LZ4KD=y" >> ./gki_defconfig
            echo "Enabled LZ4KD"
          fi
          if [ "${{ github.event.inputs.enable_feature_lz4k_oplus }}" = "true" ]; then
            echo "CONFIG_CRYPTO_LZ4K_OPLUS=y" >> ./gki_defconfig
            echo "Enabled LZ4K_OPLUS"
          fi
          if [ "${{ github.event.inputs.enable_feature_bbg }}" = "true" ]; then
            echo "CONFIG_BBG=y" >> ./gki_defconfig
            echo "Enabled BBG"
          fi
        
      - name: Remove check_defconfig
        working-directory: kernel_workspace/kernel_platform/common
        run: |
          sudo sed -i 's/check_defconfig//' ./build.config.gki

      - name: Change Kernel suffix
        if: ${{ inputs.enable_feature_change_suffix }}
        working-directory: kernel_workspace/kernel_platform
        run: |
          sed -i 's/${scm_version}//' ./common/scripts/setlocalversion
          sudo sed -i 's/-4k/${{ github.event.inputs.KERNEL_SUFFIX }}/g' ./common/arch/arm64/configs/gki_defconfig

      - name: Build Kernel
        working-directory: kernel_workspace/kernel_platform/common
        env:
            args: |+
                LLVM=1 ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu- CC=clang
                RUSTC=../../prebuilts/rust/linux-x86/1.73.0b/bin/rustc
                PAHOLE=../../prebuilts/kernel-build-tools/linux-x86/bin/pahole
                LD=ld.lld HOSTLD=ld.lld O=out KCFLAGS+=-O2 KCFLAGS_PERF+=-O3
        run: |
          if [ "${{ inputs.enable_feature_change_build_time }}" = "true" ]; then
            export KBUILD_BUILD_TIMESTAMP="${{ github.event.inputs.KERNEL_TIME }}"
          else
            export KBUILD_BUILD_TIMESTAMP=$(date)
          fi
          export PATH=/usr/lib/ccache:$GITHUB_WORKSPACE/kernel_workspace/kernel_platform/prebuilts/clang/host/linux-x86/clang-r510928/bin:$PATH
          make -j$(nproc --all) ${args} gki_defconfig all
         
      - name: Make AnyKernel3
        run: |
          git clone https://github.com/Kernel-SU/AnyKernel3.git --depth=1      
          rm -rf ./AnyKernel3/.git
          rm -rf ./AnyKernel3/push.sh
          cp ./kernel_workspace/kernel_platform/common/out/arch/arm64/boot/Image ./AnyKernel3/

      - name: Upload AnyKernel3
        uses: actions/upload-artifact@v4
        with:
         name: KernelSU_OnePlus_13T
         path: ./AnyKernel3/*
